<%= turbo_frame_tag comment do %>
  <%= form_with model: [commentable, comment], local: true do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <% if @comment.errors.any? %>
      <div style="color: red">
        <h2><%= t('views.common.validation_error', errors: i18n_error_count(comment.errors.count), name: Comment.model_name.human.downcase) %>:</h2>
        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.text_area :content, required: true %>
    <%= form.submit %>
    <%= link_to "キャンセル", commentable %>
  <% end %>
<% end %>
