<h2><%= t('views.common.title_index', name: i18n_pluralize(Comment.model_name.human)) %></h2>

<div>
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <div class="show-item">
        <p>
          <strong><%= Comment.human_attribute_name(:user) %>:</strong>
          <%= current_user_name(comment.user) %>
        </p>
        <p>
          <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
          <%= format_time_to_jst(comment.created_at) %>
        </p>
        <p >
          <strong><%= Comment.human_attribute_name(:content) %>:</strong><br>
          <%= format_content(comment.content) %>
        </p>
      </div>
      <nav class="page-nav">
        <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_report_path(comment) if comment.user_id == current_user.id %> |
        <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete if comment.user_id == current_user.id %>
      </nav>
    <% end %>
  <% else %>
    <%= t('.nothing') %>
  <% end %>
</div>


